/*
// ##################
// BASE HTML ELEMENTS
// ##################
*/

html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  font-family: "Monaco", monospace;
}

canvas {
  display: block;  /* prevents scrollbar */
  width: 100vw;
  height: 100vh;
}

h1, h2, h3, h4 {
  margin: 0px;
}

/*
// ###################
// GUI BUILDING BLOCKS
// ###################
*/

.ui_row {
  /* flex */
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
.ui_column {
  /* flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ui_button {
  background-color: rgba(0, 0, 0, 0.85);

  /* text */
  color: white;
  font-family: monospace;
  font-size:16px;
  text-align:center;

  /* padding */
  padding-top: 0.5em;
  padding-left: 0.7em;
  padding-right: 0.7em;
  padding-bottom: 0.5em;

  /* border */
  border: 2px;
  border-style: solid;
  border-color: white;
  border-radius: 0%;
}
.ui_button:hover {
  background-color: rgba(0, 119, 255, 0.85);
  color: white;
}

.ui_text_field {
  width: 80%;
  /* text */
  font-family: monospace;
  font-size:16px;
  text-align:left;
  /* padding */
  padding-top: 0.5em;
  padding-left: 0.7em;
  padding-right: 0.7em;
  padding-bottom: 0.5em;
}

.alt_color_1 {
  color: rgb(255, 0, 234);
}

.alt_color_2 {
  color: rgb(0, 183, 255);
}

.alt_color_3 {
  color: #2694c0;
}

/*
// ###################
// CUSTOM HTML ELEMETS
// ###################
*/

#swap_button {
  scale: 100%;
  /* position */
  position: absolute;
  bottom:0px;
  right:0px;
}

.ui_window {
  background-color: rgba(0, 0, 0, 0.85);

  /* text */
  color: white;
  font-family: monospace;
  font-size: 16px;
  text-align: left;

  /* padding */
  /* padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em; */

  /* border */
  border: 2px;
  border-style: solid;
  border-color: white;
  border-radius:0%;
}

#ctrl_window_2d {
  scale: 100%; /* start open */
  max-width: 400px;
  overflow-y: auto;

  padding-top: 0.5em;
  padding-bottom: 0.5em;

  /* position */
  position: absolute;
  top:0px;
  bottom:0px;
  left:0px;
  direction: rtl;
}

#ctrl_window_2d_inside {
  direction: ltr;
}

#ctrl_button {
  /* position */
  position: absolute;
  bottom:0px;
  left:0px;
}

#ctrl_module {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.ctrl_module_title {
  padding-bottom: 0.2em;
  color: rgb(255, 255, 255);
}

.ctrl_module_sub_title {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  color: rgba(255, 255, 255, 0.5);
}

.ui_info {
  text-align: left;
}

.dropdown_input {
  width: 100%;
  font-family: monospace;
  font-size: 16px;
  padding: 0.5em;
}

.kernel_input {
  width: 90%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  /* border */
  border-width: 0.4em;
  border-color: rgb(255, 255, 255);
}

.kernel_input:disabled {
  opacity: 40%;
  color: white;
  /* border */
  border-width: 0.4em;
  border-color: rgba(0, 0, 0, 0);
}

.activation_input {
  resize: none;
  font-family: monospace;
  font-size: 16px;
  padding: 0.5em;
  width: 95%;
  height: 4em;
}

/*
// ###################
// CUSTOM SLIDER
// ###################
*/

.slider_container {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #ffffff; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: rgba(0, 119, 255, 0.85); /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: rgba(0, 119, 255, 0.85); /* Green background */
  cursor: pointer; /* Cursor on hover */
}

/*
// ###################
// CUSTOM SCROLL BAR
// ###################
*/

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff62;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff00;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 119, 255, 0.85);
}