/*
// ##################
// BASE HTML ELEMENTS
// ##################
*/

html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  font-family: "Monaco", monospace;
}

canvas {
  display: block;  /* prevents scrollbar */
  width: 100vw;
  height: 100vh;
}

h1, h2, h3, h4 {
  margin: 0px;
}

/*
// ###################
// GUI BUILDING BLOCKS
// ###################
*/

.ui_row {
  /* flex */
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
.ui_column {
  /* flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ui_button {
  background-color: rgba(0, 0, 0, 0.4);
  /* text */
  color: rgba(255, 255, 255, 0.8);
  font-family: monospace;
  font-size:16px;
  text-align:center;
  /* padding */
  padding-top: 0.5em;
  padding-left: 0.7em;
  padding-right: 0.7em;
  padding-bottom: 0.5em;
  /* border */
  border: none;
  /* border: solid 0.1em rgba(0, 0, 0, 0.3); */
  box-shadow: black 0.1em 0.1em 0.1em;

}
.ui_button:hover {
  background-color: rgba(0, 119, 255, 0.85);
  color: white;
}
.ui_button:active {
  -webkit-transition: .2s;
  transition: .2s;
  background-color: rgba(255, 0, 85, 0.85);
  box-shadow: black -0.05em -0.05em 0.1em;
  color: white;
}

.ui_text_field {
  width: 100%;
  /* text */
  font-family: monospace;
  font-size:16px;
  text-align:left;
  /* padding */
  padding-top: 0.5em;
  padding-left: 0.7em;
  padding-right: 0.7em;
  padding-bottom: 0.5em;
  /* border */
  border: solid 0.1em rgba(0, 0, 0, 0.3);
}

.alt_color_1 {
  color: rgb(255, 0, 234);
}

.alt_color_2 {
  color: rgb(0, 183, 255);
}

.alt_color_3 {
  color: rgb(255, 255, 255);
}

/*
// #######################
// CONTROL WINDOW + BUTTON
// #######################
*/

#ctrl_window {
  scale: 100%; /* start open */
  width: 28em;
  overflow-y: auto;

  padding-top: 0.5em;
  padding-bottom: 0.5em;

  /* position */
  position: absolute;
  top:0px;
  bottom:0px;
  left:0px;
  direction: rtl;
}

#ctrl_window_inside {
  direction: ltr;
}

#ctrl_button {
  /* position */
  position: absolute;
  bottom:0px;
  left:0px;
}

/*
// ###################
// CUSTOM HTML ELEMETS
// ###################
*/

.ui_window {
  background-color: rgba(255, 255, 255, 0.8);

  /* text */
  color: white;
  font-family: monospace;
  font-size: 16px;
  text-align: left;
}

#ctrl_module {
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.ctrl_module_title {
  padding-bottom: 0.2em;
  color: rgb(0, 0, 0);
}

.ctrl_module_sub_title {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  color: rgb(64, 64, 64);
}

.ui_info {
  text-align: right;
}

.dropdown_input {
  width: 100%;
  font-family: monospace;
  font-size: 16px;
  padding: 0.5em;
  border: none;
  /* border */
  border: solid 0.1em rgba(0, 0, 0, 0.3);
}

.dropdown_option {
  padding: 0.5em;
}

.kernel_input {
  width: 6em;
  height: 4em;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  /* border */
  border-width: 0.5em;
  border-radius: 2%;
  border-color: rgb(255, 255, 255);
  border-style: ridge;
}

.kernel_input:disabled {
  opacity: 25%;
  color: rgba(0, 0, 0, 0.8);
  /* border */
  border-width: 0.5em;
  border-color: rgba(0, 0, 0, 0);
}

.kernel_input_small {
  width: 6em;
  height: 1.5em;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  /* border */
  border-width: 0.5em;
  border-radius: 2%;
  border-color: rgb(255, 255, 255);
  border-style: ridge;
}

.kernel_input_small:disabled {
  opacity: 25%;
  color: rgba(0, 0, 0, 0.8);
  /* border */
  border-width: 0.5em;
  border-color: rgba(0, 0, 0, 0);
}

.activation_input {
  background-color: rgb(255, 255, 255);
  resize: none;
  width: 94.5%;
  height: 5em;

  /* text */
  font-family: monospace;
  font-size:16px;
  text-align:left;
  /* padding */
  padding-top: 0.5em;
  padding-left: 0.7em;
  padding-right: 0.7em;
  padding-bottom: 0.5em;
  /* border */
  border: solid 0.1em rgba(0, 0, 0, 0.3);
}

.how_textarea {
  background-color: rgb(255, 255, 255);
  resize: none;
  width: 94.5%;
  height: 5em;

  /* text */
  font-family: monospace;
  font-size:16px;
  text-align:left;
  /* padding */
  padding-top: 0.5em;
  padding-left: 0.7em;
  padding-right: 0.7em;
  padding-bottom: 0.5em;
  /* border */
  border: solid 0.1em rgba(0, 0, 0, 0.3);
}

/*
// #############
// CUSTOM SLIDER
// #############
*/

.slider_container {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background-color: rgba(0, 0, 0, 0.4); /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.5; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;

  border: solid 0.1em rgba(0, 0, 0, 0.1);
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: rgba(0, 119, 255, 0.8); /* Green background */
  cursor: pointer; /* Cursor on hover */

  box-shadow: black 0.1em 0.1em 0.1em;
}

.slider::-webkit-slider-thumb:active {
  -webkit-transition: .4s;
  transition: .4s;

  background-color: rgba(255, 0, 85, 0.85);
  box-shadow: black -0.1em -0.1em 0.1em;
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: rgba(0, 119, 255, 0.85); /* Green background */
  cursor: pointer; /* Cursor on hover */

  box-shadow: black 0.1em 0.1em 0.1em;
}

.slider::-moz-range-thumb:hover {
  -webkit-transition: .2s;
  transition: .2s;

  background-color: rgba(255, 0, 85, 0.85);
  box-shadow: black -0.05em -0.05em 0.1em;
}

/*
// #################
// CUSTOM SCROLL BAR
// #################
*/

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.5);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 119, 255, 0.85);
}

::-webkit-scrollbar-thumb:active {
  -webkit-transition: .4s;
  transition: .4s;

  background: rgba(255, 0, 85, 0.85);
}

/*
// ####################
// CUSTOM SWITCH TOGGLE
// ####################
*/

/* The switch - the box around the slider */
.toggle_switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.toggle_switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.toggle_slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 119, 255, 0.85);
  -webkit-transition: .4s;
  transition: .4s;
}

.toggle_slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .toggle_slider {
  background-color: rgba(255, 0, 85, 0.85);
}

input:focus + .toggle_slider {
  box-shadow: 0 0 1px rgba(255, 0, 85, 0.85);
}

input:checked + .toggle_slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}